body {
    background: #ff0000;
    background: radial-gradient(circle,rgba(255, 123, 0, 1) 20%, rgba(255, 0, 0, 1) 100%);
    z-index: -1;
}

#lista1 {
    background-color: maroon;
    border: solid 4px crimson;
    border-radius: 10px 20px 20px;
    color: white;
    position: fixed;
    left: 35%;
    padding: 14px;
    box-shadow: 5px 5px 5px black;
}

#lista2 {
    background-color:crimson;
    border: solid 4px maroon;
    border-radius: 10px 20px 20px;
    color: white;
    position: fixed;
    left: 50%;
    padding: 30px;
    box-shadow: 5px 5px 5px black;
}